/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Style for the header and navigation menu */
header {
    background-color: #b79b9b;
    color: rgb(197, 95, 95);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the list items horizontally */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last item */
}

nav ul li a {
    text-decoration: none;
    color: rgb(176, 115, 115);
}

/* Style for the main content */
main {
    padding: 20px;
    text-align: center;
}
