body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1728px;
    height: 1117px;
    flex-shrink: 0;
    background: #6DA559;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #6DA559;
}

form {
    margin-top: 20px;
    text-align: center; /* Center the form contents horizontally */
}

/* Style for the file input and submit button */
input[type="file"],
input[type="submit"] {
    margin-top: 10px;
}
